@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    position: relative;
}

/* Global CSS */

.sec-space {
    padding: 4rem 0;
}

.extra-space {
    padding-top: 8rem;
}

.obj-width {
    max-width: 1200px;
    margin: auto;
}
.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
.border-0 {
  border: 0 !important;
}
.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.p-5 {
  padding: 3rem !important;
  color: #ced4da;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .mb-3 {
  margin-bottom: 1rem !important;
}
 .mb-sm-3 {
    margin-bottom: 1rem !important;
  }
   .mb-lg-0 {
    margin-bottom: 0 !important;
  }
  .form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.d-grid {
  display: grid !important;
}
.gap-2 {
  gap: 0.5rem !important;
}

/* Navbar Button*/
#l-btn {
    margin-right: 10px;
    margin-left: 40px;
    background-color: white;
    color: #1f4140;
    padding: 9px 30px;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    box-shadow: none;
    border: none;
}

#e-btn {
    background-color: white;
    color: #1f4140;
    padding: 9px 20px;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    box-shadow: none;
    border: none;
}
.s-btn {
    background-color: aquamarine;
    color: #fff;
    padding: 8px 13px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

/* Global CSS end */

header {
    background-color: #1f4140;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 999;
}

#navber {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

#navber .logo {
    width: 40px;
}

#menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

#menu li a {
    color: aliceblue;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1.1rem;
    font-weight: 500px;

}

#h-menu {
    color: #fff;
    display: none;
}

/* Slider section*/
.slider{
    background-color: #1f4140;
}
.left-side{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
}
.l-side{
    width: 40%;
    color: #fff;
    
}
.l-sub-side{
    margin-left: 40px;
}
.l-side h1{
    font-size: 2rem;
}
.l-side p{
    font-size: 1.5rem;
    padding: 10px;
}
.search{
    position: relative;
}
.search input{
    font-size: .9rem;
    width: 80%;
    height: 4rem;
    border-radius: 30px;
    padding: 0 20px;
    border: none;

}
.search a{
    position: absolute;
    top: 12px;
    right: 25%;

}
.r-side{
    width: 60%;
}
.r-side img{
    width: 100%;
    object-fit: cover;

}
/* Search section*/
.container{
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 699px) {
    #menu {
        background: #fff;
        display: block;
        width: 280px;
        height: auto;
        position: absolute;
        top: 80px;
        right: -100%;
        padding: 30px 0;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
        border-radius: 13px;
        opacity: 0;
        transition: all 0.3s ease;

    }
    #menu.active{
        right: 10px;
        opacity: 1;

    }

    #menu li {
        padding: 1rem;
    }

    #menu li a {
        color: #1f4140;
        font-size: 1.3rem;
    }

    #l-btn {
        margin-top: 1rem;
        background-color: #1f4140;
        color: #fff;
    }

    #e-btn {
        margin-left: 40px;
        margin-top: 2rem;
        background-color: #1f4140;
        color: #fff;
        
    }

    #h-menu {
        display: block;
        cursor: pointer;
        font-size: 3rem;
        margin-right: 20px;
    }
}