@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    position: relative;
}

/* Global CSS */

.sec-space {
    padding: 4rem 0;
}

.extra-space {
    padding-top: 8rem;
}

.obj-width {
    max-width: 100%;
    margin: auto;
}
/* Navbar Button*/
#l-btn {
    margin-right: 10px;
    margin-left: 40px;
    background-color: white;
    color: #1f4140;
    padding: 9px 30px;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    box-shadow: none;
    border: none;
}

#e-btn {
    background-color: white;
    color: #1f4140;
    padding: 9px 20px;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    box-shadow: none;
    border: none;
}
#s-btn {
    background-color: aquamarine;
    color: #fff;
    padding: 8px 13px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
}

/* Global CSS end */

header {
    background-color: #1f4140;
}

#navber {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

#navber .logo {
    width: 40px;
    margin-left: 20px;
}

#menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

#menu li a {
    color: aliceblue;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1.1rem;
    font-weight: 500px;

}

#h-menu {
    color: #fff;
    display: none;
}

/* Slider section*/
.slider{
    background-color: #1f4140;
}
.left-side{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
.l-side{
    width: 40%;
    color: #fff;
}
.l-side h1{
    font-size: 2rem;
}
.l-side p{
    font-size: 1.5rem;
    padding: 10px;
}
.search{
    position: relative;
}
.search input{
    font-size: .9rem;
    width: 100%;
    height: 4rem;
    border-radius: 30px;
    padding: 0 20px;
    border: none;

}
.search a{
    position: absolute;
    top: 12px;
    right: 20px;

}
.r-side{
    width: 60%;
}
.r-side img{
    width: 100%;
    object-fit: cover;

}
@media (max-width: 699px) {
    #menu {
        background: #fff;
        display: block;
        width: 280px;
        height: auto;
        position: absolute;
        top: 80px;
        right: -100%;
        padding: 30px 0;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
        border-radius: 13px;
        opacity: 0;
        transition: all 0.3s ease;

    }
    #menu.active{
        right: 10px;
        opacity: 1;

    }

    #menu li {
        padding: 1rem;
    }

    #menu li a {
        color: #1f4140;
        font-size: 1.3rem;
    }

    #l-btn {
        margin-top: 1rem;
        background-color: #1f4140;
        color: #fff;
    }

    #e-btn {
        margin-left: 40px;
        margin-top: 2rem;
        background-color: #1f4140;
        color: #fff;
        
    }

    #h-menu {
        display: block;
        cursor: pointer;
        font-size: 3rem;
        margin-right: 20px;
    }
}